.Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 40px;
}

.Deck-gimme {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}

.Deck-gimme:hover {
  cursor: pointer;
  background-color: #444;
}

.Deck-gimme:active,
.Deck-gimme:focus {
  outline: none;
}

.Deck-cardarea {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
}
